<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <%= render "layouts/logo" %>
      <div class="content">
        Sign In to your account
      </div>
    </h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "ui large form" }) do |f| %>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail address" %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
          </div>
        </div>
        <%= f.submit "Sign In", class: "ui fluid large blue submit button" %>
      </div>

      <div class="ui error message"></div>

    <% end %>

    <div class="ui message">
      Don't have an account? <%= link_to "Sign Up", new_user_registration_path %>
    </div>
  </div>
</div>
